*{margin:0px;padding: 0px;box-sizing: border-box;}
.mt-88{margin-top: 88px;}
.mb-87{margin-bottom: 87px;}
.mb-51{margin-bottom: 51px;}
.h2{font-family: sans-serif;color:#b31322;text-align: center;font-size: 40px;}
.p{font-size: 18px;font-family: 'Opens-Sans-regular';}
.doctor-container{max-width: 1430px;width: 90%;margin: 0 auto;}
.doctor-boxes .box .h2-odd{font-family: 'Opens-Sans-semibold';font-size: 25px;}
@font-face {
    font-family: 'Opens-Sans-semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'Opens-Sans-regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}


.doctor-boxes .boxes
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 25px;
    margin-bottom: 50px;

}

.doctor-boxes   
{
    height: 43vh;
    overflow: hidden;
    padding: 1% 1%;
    margin-bottom: 45px;
}

.box
{    
   
    border-radius: 25px;
    padding: 13px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.doctor-boxes .content{margin-top: 27px;    padding: 15px 8px;}

.doctor-boxes .content .heading{margin-bottom: 8px;}
.load-more-box {margin: 0 auto;}
.doctor-container .load-more-box{text-align: center;}
.load-more-box .btn{background-color: #b31322;font-size: 14px;border-radius: 7px;color: #FFFFFF!important;font-family:'Opens-Sans-semibold';padding: 20px 35px;margin:;}

.accordian-contain .accordian-box{outline: 1px solid #B31322;}

.accordian-contain .accordian-box .accordian-h2{font-family: 'Opens-Sans-semibold';font-size: 24px;color: #343434;}

.accordian-contain .accordian-box .head{display: flex;justify-content: space-between;align-items: center;padding: 21px 62.75px;position: relative;}
.accordian-contain .accordian-box .head .acrd-header{background: none;border: none;}
.accordian-contain .accordian-box .head .acrd-header::after{content: '';position: absolute;width: 0;height: 0;background: linear-gradient(#FFC737 0 0),linear-gradient(#FFC737 0 0);background-position: center;background-size: 50% 2px,2px 50%;background-repeat: no-repeat;width: 50px;height: 50px;transform: translateY(-50%);right: 25px;top: 34px;}
.accordian-contain .accordian-box .contain .p{text-align: center;line-height: 30px;}


/* active css accordian*/
.accordian-contain .accordian-box.active .accordian-h2{font-family: 'Opens-Sans-semibold';font-size: 24px;color: #FFFFFF;}
.accordian-contain .accordian-box.active .head{background-color: #B31322;}
.accordian-contain .accordian-box .contain{display: none;}
.accordian-contain .accordian-box.active .contain{display: block;padding: 38.5px 100px;}
.accordian-contain .accordian-box.active .head .acrd-header::after{background: linear-gradient(#FFC737 0 0);
    background-position: center;
    background-size: 50% 2px,2px 50%;
    background-repeat: no-repeat;}
